* {
    margin: 0; padding: 0; box-sizing: border-box; 
}

body {
    font-family: 'Arial', sans-serif;
}

/* Top Bar Styles */
.top-bar {
    height: 36px; background-color: #B94D4D; color: white; display: flex; 
    align-items: center; justify-content: space-between; padding: 0 15px;
}
.date-info {
    display: flex; align-items: center; gap: 12px; font-size: 13px; }
.date-info img {
    width: 18px; height: 12px; object-fit: cover; }
.facebook {
    display: flex; align-items: center; justify-content: center; width: 18px; height: 18px; }
.facebook img {
    width: 100%; height: 100%; object-fit: contain; }

/* Navbar Styles */
.navbar {
    min-height: 60px; background-color: #e9e9e9; display: flex; align-items: center; justify-content: space-between;
    padding: 0 30px 0 25px; position: relative; }
.brand {
    display: flex; align-items: center; gap: 25px; position: relative; padding-left: 100px; }
.brand h2 { position: relative; left: 20px; }
.brand img { 
   position: absolute; width: 100px; height: 100px; object-fit: contain; top: -15px; left: 0px; z-index: 10; }
.nav-links {
    display: flex; align-items: center; gap: 50px; list-style: none; }
.nav-links a {
    text-decoration: none; color: #111; font-size: 15px; transition: all 0.3s ease; }
.nav-links a:hover { color: #b94d4d; }

/* hero section */
.hero { height: 460px; position: relative; overflow: hidden; display: flex;
    align-items: center; justify-content: center; text-align: center; }
.hero-slider { position: absolute; inset: 0; display: flex; width: 300%; height: 100%; z-index: 0; top: 0; left: 0; }
.slide { flex: 0 0 33.333333%; height: 100%; background-size: cover; background-position: center; } 
.hero-content { position: relative; z-index: 2; margin-top: 95; color: white; }
.hero h1 { font-size: 44px; line-height: 1.3; font-weight: bold; }
.hero p { font-family: Georgia, serif; font-size: 26px; }

/* barang-ai section */
.barang-ai {
    background-color: #B94D4D; color: white; padding: 35px 14%; display: flex; 
    align-items: center; justify-content: space-between; gap: 50px; padding-top: 80px; padding-bottom: 80px; }
.ai-content { max-width: 500px; }
.ai-content h2 { font-size: 22px; margin-bottom: 12px; }    
.ai-content p { font-size: 16px; line-height: 1.4; margin: 0 0 15px 25px; }
.chatbot-button { margin-left: 25px; padding: 10px 20px; background-color: #e9e9e9; border: none;
     cursor: pointer; transition: background-color 0.3s; border-radius: 9px; font-size: 15px; }
.chatbot-button:hover { background-color: white; }
.ai-preview { width: 320px; height: 200px; background-color: #b14444; border-radius: 9px; overflow: hidden;
    color: black; flex-shrink: 0; position: relative; }
.chat-header { height: 40px; background-color: #dcb2b2; padding: 5px 10px; display: flex; align-items: center; gap: 10px; }
.avatar { background-color: #222; width: 30px; height: 30px; border-radius: 50%; flex-shrink: 0; }
.chat-header h3 { font-size: 14px; font-weight: normal; }
.status { color: #249c37; font-size: 12px; }
.chat-messages { padding: 8px; display: flex; flex-direction: column; gap: 8px; }
.message { font-size: 10px; padding: 8px; max-width: 85%; background-color: #e9e9e9; border-radius: 5px; }
.bot-message { align-self: flex-start;  }
.user-message { align-self: flex-end; }
